<head>
    {% if page.title %}
      <title>{{ page.title }} | Re-Activate</title>
    {% else %}
      <title>Re-Activate</title>
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="This is a site where you find comfort, solace, rejuvinate, modify and reactivate your mind, soul and body.">
    {% endif %}
    <link href="/favicon.png" rel="icon">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&family=Prompt:ital,wght@1,600&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  